footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
 background-color: black;
  color: rgb(0, 61, 114);
}

footer p{
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

footer .footer__content {
  text-align: center;
  padding: 6rem 2rem 1rem;
  max-width: 47rem;
}

footer .footer__content .footer__contact span {
  display: block;
  font-size: 20px;
}

footer .footer__content ul li {
  display: inline-block;
  background-color: rgb(81, 81, 81);
  border-radius: 20px
}

footer .footer__content ul a {
  display: inline-block;
  padding: 1rem;
}

footer .footer__content ul li img {
  width: 45px;
 
}

footer .footer__content .footer__copyright {
  font-size:20px;
}

@media only screen and (max-width: 768px) {
  footer .footer__content {
    padding: 2rem 1rem; /* Ajustado o espaçamento interno em telas menores */
  }

  footer .footer__content ul {
    margin-top: 1rem; /* Ajustado o espaçamento superior em telas menores */
  }

  footer .footer__content ul li img {
    width: 30px; /* Reduzido o tamanho da imagem em telas menores */
  }
}
