
.habilidades {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff;
  background-color: black;
  align-self: center;
}

.habilidades h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  filter: brightness(1);
  background-image: linear-gradient(to right, rgb(16, 19, 227), rgb(42, 42, 146), white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: color-change 2s infinite linear;
}

.habilidades ul {
  display: flex;
  list-style: none;
}

.habilidades ul li {
  display: flex;
  align-items: center;
  font-size: 20px;


  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  filter: brightness(1);
  background-image: linear-gradient(to right, rgb(234, 234, 246), rgb(71, 71, 138), white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: color-change 2s infinite linear;
  margin: 0;
}

.habilidades ul li img {
  width: 45px;
  height: auto;
  margin: 0;
  padding: 20px;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 468px) {
  .habilidades {
    flex-direction: column;
    padding: 50px 19px;
    width: auto;
    max-width: 100%;
    align-items: center;
    display: flex;
  }

  .habilidades h2{
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .habilidades ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .habilidades ul li {
    align-items: center;
    display: flex;
margin-bottom: 10px;
  }

  .habilidades ul li img {
    align-items: center;
    width: 35px;
    padding: 10px;
  }
}
